@charset "UTF-8";


/* 共通部分 */
html {
    font-size: 100%;
}

body{
    background-color: rgb(241, 241, 241);
    font-family:"Yu Gothic Medium","游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ　Pro　W3", sans-serif;
    line-height:1.7;
    color : #432;
}

header { 
  width: 1920px;
  height: 70px;
  background-color: #CE2932;
  box-shadow: 0px 10px 35px 9px #aaaaaa;
}

header h1 {
  color: rgb(241, 241, 241);
  font-weight: bold;
  font-size: 40px;

  position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%);
  white-space: nowrap
  
}

.ques p {
  font-family: "M PLUS 1p"; 
  font-weight: bold;
  font-size: 40px;
  text-align:center;
}


/* PC用------------------------------------------------------------------------- */
@media screen and (min-width: 1025px) {


.container {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  }

  .item1 {
    width: 300px;
    height: 100px;
    margin: 200px 0;

    color: #292929e3;
    background: #00AEBB;
    border-bottom: solid 6px #028f99;
    border-radius: 9px;
  }

  .item1 p {
    font-family: "M PLUS 1p"; 
    font-weight: bold;
    font-size: 35px;
    white-space: nowrap;
    margin: 15px 30px;
    text-align:center;
  }




  .item2 {
    width: 300px;
    height: 100px;
    margin: 200px 0;

    color: #292929e3;
    background: #F3B016;
    border-bottom: solid 6px #c58f11;
    border-radius: 9px;
}

.item2 p {
  font-family: "M PLUS 1p"; 
  font-weight: bold;
  font-size: 35px;
  white-space: nowrap;
  margin: 15px 50px;
  text-align:center;
  }




  .item3 {
    width: 300px;
    height: 100px;
    margin: 200px 0;

    color: #292929e3;
    background: #E86181;
    border-bottom: solid 6px #b64e66;
    border-radius: 9px;
}

  .item3 p {
    font-family: "M PLUS 1p"; 
    font-weight: bold;
    font-size: 35px;
    white-space: nowrap;
    margin: 15px 80px;
    text-align:center;
    }


    .item4 {
      width: 300px;
      height: 100px;
      margin: -100px 0;
  
      color: #292929e3;
      background: #169ad5;
      border-bottom: solid 6px #137eaf;
      border-radius: 9px;
    }
  
    .item4 p {
      font-family: "M PLUS 1p"; 
      font-weight: bold;
      font-size: 35px;
      white-space: nowrap;
      margin: 15px 90px;
      text-align:center;
    }

    .item5 {
      width: 300px;
      height: 100px;
      margin: -100px 0;
  
      color: #292929e3;
      background: #EA6D52;
      border-bottom: solid 6px #c25a42;
      border-radius: 9px;
    }
  
    .item5 p {
      font-family: "M PLUS 1p"; 
      font-weight: bold;
      font-size: 35px;
      white-space: nowrap;
      margin: 15px 50px;
      text-align:center;
    }

    .item6 {
      width: 300px;
      height: 100px;
      margin: -100px 0;
  
      color: #292929e3;
      background: #69B942;
      border-bottom: solid 6px #559436;
      border-radius: 9px;
    }
  
    .item6 p {
      font-family: "M PLUS 1p"; 
      font-weight: bold;
      font-size: 35px;
      white-space: nowrap;
      margin: 15px 80px;
      text-align:center;
    }

    .item7 {
      width: 300px;
      height: 100px;
      margin: 100px 0;
  
      color: #292929e3;
      background: #DA6AA4;
      border-bottom: solid 6px #b65989;
      border-radius: 9px;
    }
  
    .item7 p {
      font-family: "M PLUS 1p"; 
      font-weight: bold;
      font-size: 35px;
      white-space: nowrap;
      margin: 15px 70px;
      text-align:center;
    }

    .item8 {
      width: 300px;
      height: 100px;
      margin: 100px 0;
  
      color: #292929e3;
      background: #697AB8;
      border-bottom: solid 6px #505e8d;
      border-radius: 9px;
    }
  
    .item8 p {
      font-family: "M PLUS 1p"; 
      font-weight: bold;
      font-size: 35px;
      white-space: nowrap;
      margin: 15px 30px;
      text-align:center;
    }

    .item9 {
      width: 300px;
      height: 100px;
      margin: 100px 0;
  
      color: #292929e3;
      background: #DA9916;
      border-bottom: solid 6px #b17b11;
      border-radius: 9px;
    }
  
    .item9 p {
      font-family: "M PLUS 1p"; 
      font-weight: bold;
      font-size: 35px;
      white-space: nowrap;
      margin: 15px 70px;
      text-align:center;
    }
}









/* スマホ用------------------------------------------------------------------------- */
  @media only screen and (max-width:1025px){


    .item1 {
      width: 300px;
      height: 100px;
      margin-top:50px;
      margin-right:auto;
      margin-bottom:0;
      margin-left:auto;
  
      color: #292929e3;
      background: #00AEBB;
      border-bottom: solid 6px #028f99;
      border-radius: 9px;
    }
  
    .item1 p {
      font-family: "M PLUS 1p"; 
      font-weight: bold;
      font-size: 35px;
      white-space: nowrap;
      margin: 30px 0px 0 0;
      text-align:center;
    }
  
  
  
  
    .item2 {
      width: 300px;
      height: 100px;
      margin-top:0;
      margin-right:auto;
      margin-bottom:0;
      margin-left:auto;
  
  
      color: #292929e3;
      background: #F3B016;
      border-bottom: solid 6px #c58f11;
      border-radius: 9px;
  }
  
  .item2 p {
    font-family: "M PLUS 1p"; 
    font-weight: bold;
    font-size: 35px;
    white-space: nowrap;
    margin: 15px 50px;
    text-align:center;
    }
  
  
  
  
    .item3 {
      width: 300px;
      height: 100px;
      margin-top:0;
      margin-right:auto;
      margin-bottom:0;
      margin-left:auto;
  
  
      color: #292929e3;
      background: #E86181;
      border-bottom: solid 6px #b64e66;
      border-radius: 9px;
  }
  
    .item3 p {
      font-family: "M PLUS 1p"; 
      font-weight: bold;
      font-size: 35px;
      white-space: nowrap;
      margin: 15px 80px;
      text-align:center;
      }
  
  
      .item4 {
        width: 300px;
        height: 100px;
        margin-top:0;
        margin-right:auto;
        margin-bottom:0;
        margin-left:auto;
  
    
        color: #292929e3;
        background: #169ad5;
        border-bottom: solid 6px #137eaf;
        border-radius: 9px;
      }
    
      .item4 p {
        font-family: "M PLUS 1p"; 
        font-weight: bold;
        font-size: 35px;
        white-space: nowrap;
        margin: 15px 90px;
        text-align:center;
      }
  
      .item5 {
        width: 300px;
        height: 100px;
        margin-top:0;
        margin-right:auto;
        margin-bottom:0;
        margin-left:auto;
  
    
        color: #292929e3;
        background: #EA6D52;
        border-bottom: solid 6px #c25a42;
        border-radius: 9px;
      }
    
      .item5 p {
        font-family: "M PLUS 1p"; 
        font-weight: bold;
        font-size: 35px;
        white-space: nowrap;
        margin: 15px 50px;
        text-align:center;
      }
  
      .item6 {
        width: 300px;
        height: 100px;
        margin-top:0;
        margin-right:auto;
        margin-bottom:0;
        margin-left:auto;
    
        color: #292929e3;
        background: #69B942;
        border-bottom: solid 6px #559436;
        border-radius: 9px;
      }
    
      .item6 p {
        font-family: "M PLUS 1p"; 
        font-weight: bold;
        font-size: 35px;
        white-space: nowrap;
        margin: 15px 80px;
        text-align:center;
      }
  
      .item7 {
        width: 300px;
        height: 100px;
        margin-top:0;
        margin-right:auto;
        margin-bottom:0;
        margin-left:auto;
    
        color: #292929e3;
        background: #DA6AA4;
        border-bottom: solid 6px #b65989;
        border-radius: 9px;
      }
    
      .item7 p {
        font-family: "M PLUS 1p"; 
        font-weight: bold;
        font-size: 35px;
        white-space: nowrap;
        margin: 15px 70px;
        text-align:center;
      }
  
      .item8 {
        width: 300px;
        height: 100px;
        margin-top:0;
        margin-right:auto;
        margin-bottom:0;
        margin-left:auto;

        color: #292929e3;
        background: #697AB8;
        border-bottom: solid 6px #505e8d;
        border-radius: 9px;
      }
    
      .item8 p {
        font-family: "M PLUS 1p"; 
        font-weight: bold;
        font-size: 35px;
        white-space: nowrap;
        margin: 15px 30px;
        text-align:center;
      }
  
      .item9 {
        width: 300px;
        height: 100px;
        margin-top:0;
        margin-right:auto;
        margin-bottom:0;
        margin-left:auto;
    
        color: #292929e3;
        background: #DA9916;
        border-bottom: solid 6px #b17b11;
        border-radius: 9px;
      }
    
      .item9 p {
        font-family: "M PLUS 1p"; 
        font-weight: bold;
        font-size: 35px;
        white-space: nowrap;
        margin: 15px 70px;
        text-align:center;
      }
  }



footer { 
    position: absolute;
    bottom: 0; 
    width: 1920px;
    height: 70px;
    background-color: #CE2932;
    box-shadow: 0px -1px 35px 9px #838383;

}